{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block extra_css %}
<link href=”http://cdn.pydata.org/bokeh/release/bokeh-2.4.3.min.css" rel=”stylesheet” type=”text/css”>
<link href=”http://cdn.pydata.org/bokeh/release/bokeh-widgets-2.4.3.min.css" rel=”stylesheet” type=”text/css”>
{% endblock %}

{% block contents %}
{% include "navbar.html" %}
<div class="tab-pane fade show active" id="line" role="tabpanel" aria-labelledby="home-tab">

</div>
{{div | safe}}
<div id="addNewTransactionButton">
	<button type="button" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#addTransactionsModal">
	  <i class="fas fa-edit mr-1"></i>Add new transactions
	</button>
</div>
{% endblock %}

{% block more_js %}
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.4.3.min.js"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.4.3.min.js"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.4.3.min.js"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-api-2.4.3.min.js"></script>
{{script| safe}}
{% endblock %}