{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block extra_js %}
<script type="text/javascript">
    var getTransactions = function(){
        $.ajax({
            type: 'GET',
            url: "api/operations/",
        })
        .done(function(data){
            for (let li of data) {
                var tr = $("<tr>").append(
                    $("<td>").append(li.date)
                ).append(
                    $("<td>").append(li.title)
                ).append(
                    $("<td>").append(li.amount)
                ).append(
                    $("<td>").append(li.user)
                ).append(
                    $("<td>").append(li.category)
                )
                $("#operationsTable").append(tr);
            }
        }).fail(function(data){
            console.log(data);
            alert("Error");
        })
        $.ajaxStop(function(event, xhr, settings) {

        })
    }
    $(document).ready(function(){
        getTransactions();
        $("#addTransactionModalSave").onclick(function(){
        	$("#transactionModalFormset").submit();
        });
    });
</script>
{% endblock %}

{% block contents %}
<table class="table">
    <thead>
        <tr>
            <th>Time</th>
            <th>Name</th>
            <th>Amount</th>
            <th>Who</th>
            <th>Category</th>
        </tr>
    </thead>
    <tbody id="operationsTable"></tbody>
</table>

<button type="button" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#addTransactionsModal">
  <i class="fas fa-edit mr-1"></i>Add new transactions
</button>

<div id="addTransactionsModal" class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-xl" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 id="itemModalTitle" class="modal-title">Add more transactions</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form id="transactionModalFormset" method="POST">
				<div id="itemModalBody" class="modal-body">
					{% csrf_token %}
					<input type="hidden" name="form-TOTAL_FORMS" value="1" id="id_form-TOTAL_FORMS">
					<input type="hidden" name="form-INITIAL_FORMS" value="0" id="id_form-INITIAL_FORMS">
					<input type="hidden" name="form-MIN_NUM_FORMS" value="0" id="id_form-MIN_NUM_FORMS">
					<input type="hidden" name="form-MAX_NUM_FORMS" value="1000" id="id_form-MAX_NUM_FORMS">
					<table class="table">
						<thead>
							<tr>
								<th>Name</th>
								<th>Time</th>
								<th>Amount</th>
								<th>Category</th>
								<th>Who</th>
								<th>Clone</th>
							</tr>
						</thead>
						<tbody id="addTransactionsTable">
						{% for form in formset %}
						<tr class="addTransactionsTableRow">
							{% for field in form %}
								<td>{% bootstrap_field field show_label=False %}</td>
							{% endfor %}
							<td>
								<button id="addTransactionModelCopy" type="button" class="btn btn-secondary">
									<i class="far fa-clone"></i>
								</button>
							</td>
						</tr>
						{% endfor %}
						</tbody>
					</table>
					{% bootstrap_formset_errors formset %}
				</div>
				<div class="modal-footer">
					<div class="btn-group">
						<button id="addTransactionModalSave" type="submit" class="btn btn-success"><i class="fas fa-save"></i> Save</button>
						<button id="addTransactionModalEmpty" type="button" class="btn btn-primary"><i class="fas fa-plus"></i> Add empty</button>
						<button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-times mr-1"></i> Close</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

{% endblock %}