{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block extra_js %}
<script type="text/javascript">
	var opId = null;
	var queryParams = window.location.search;
	if (queryParams == ""){
		queryParams = "?year={{ year }}";
	}

	var makeBadge = function(name){
		return $("<span>").addClass("badge bg-secondary").append(name);
	}

	var makeBadgeTd = function(tags){
		var tags_td = $("<td>").addClass("tagsCell");
		for (let tag of tags) {
			tags_td.append(
				makeBadge(tag.name)
			);
		}
		return tags_td;
	}

    var getTransactions = function(){
    	$("#operationsTable").empty();
        $.ajax({
            type: 'GET',
            url: "{% url 'get_operations' %}" + queryParams,
        })
        .done(function(data){
            for (let li of data) {
            	if (li.category != null){
            		var category_name = li.category.name;
            	} else {
            		var category_name = '';
				}
				var tags_td = makeBadgeTd(li.tags);

                var tr = $("<tr>").append(
                    $("<td>").addClass("dateCell").append(li.date)
                ).append(
                    $("<td>").addClass("titleCell").append(li.title)
                ).append(
                    $("<td>").addClass("amountCell").append(li.amount)
                ).append(
                    $("<td>").addClass("userCell").append(li.user.name)
                ).append(
                    $("<td>").addClass("categoryCell").append(category_name)
                ).append(
                	tags_td
                ).attr("op-id", li.pk)
                .attr("data-bs-toggle", "modal")
				.attr("data-bs-target", "#editTransactionsModal")
				.on("click", editTransaction)
				.addClass("cursor_hand");
                $("#operationsTable").append(tr);
            }
        }).fail(function(data){
            console.error(data);
            messageBox("Error getting transactions. Check console logs.", "danger");
        })
    }

	var editTransaction = function(event){
		console.debug(event);
		opId = event.currentTarget.getAttribute("op-id");
		console.debug("Currently editing: " + opId);
		var Url = "{% url 'get_op_by_id' 0 %}?year={{ year }}".replace('0', opId);
		const otherParams = {
			headers:{"content-type":"application/json; charset=UTF-8"},
			method:"GET"
		}
		fetch(Url, otherParams)
		.then(response=>response.json())
		.then(data=>{
			$("#id_title").val(data.title);
			$("#id_date").val(data.date);
			$("#id_amount").val(parseFloat(data.amount));
			$("#id_category").val(data.category.id);
			$("#id_user").val(data.user.id);
			$("#id_tags option").each(function(){
				$(this).prop("selected", false);
			});
			$.each(data.tags, function(i, tag){
				$("#id_tags option[value='" + tag.id + "']").prop("selected", true);
			});
		})
	}

	var putEditedTransaction = function(){
		console.debug("Saving: " + opId);
		$.ajax({
            type: 'PUT',
            url: "{% url 'get_op_by_id' 0 %}?year={{ year }}".replace("0", opId),
            headers: {"X-CSRFToken": $("input:hidden[name=csrfmiddlewaretoken]").val()},
            data: $("#transactionEditModalForm").serialize()
        })
        .done(function(data){
        	messageBox("Saved!", "success");
        	refreshTransactionRow(data);
        	emptyAllCharts();
        }).fail(function(data){
            console.error(data);
            messageBox("Error while editing operation. Check console logs.", "danger");
        })
	}

	var postNewTransaction = function(){
		console.debug("Saving as new: " + opId);
		$.ajax({
            type: 'POST',
            url: "{% url 'get_operations' %}",
            headers: {"X-CSRFToken": $("input:hidden[name=csrfmiddlewaretoken]").val()},
            data: $("#transactionEditModalForm").serialize()
        })
        .done(function(data){
        	messageBox("Saved new!", "success");
        	addTransactionRow(data);
        	emptyAllCharts();
        }).fail(function(data){
            console.error(data);
            messageBox("Error while copying operation. Check console logs.", "danger");
        })
	}

	var refreshTransactionRow = function(data){
		console.debug("Updating row: " + opId + " with: " + data);
		var editedRow = $("tr[op-id=" + opId + "]");
		editedRow.find(".dateCell").html(data.date);
		editedRow.find(".titleCell").html(data.title);
		editedRow.find(".amountCell").html(data.amount);
		editedRow.find(".userCell").html(data.user.name);
		editedRow.find(".categoryCell").html(data.category.name);
		editedRow.find(".tagsCell").remove();
		editedRow.append(makeBadgeTd(data.tags));
	}

	var addTransactionRow = function(data){

	}

    var cloneTransaction = function(){
    	let total_form = $('#id_form-TOTAL_FORMS');
		let form_idx = total_form.val();

		let parent = $(this).parent().parent();
		let parent_index = parent.attr("id");
		let new_parent = parent.clone();
		new_parent.attr('id', form_idx);
		new_parent.find("input, select").each(function(){
			let id_ = $(this).attr("id");
			id_ = id_.replace(/\d+/, function(val) { return form_idx; });
			$(this).attr("id", id_);
			let name = $(this).attr("name");
			name = name.replace(/\d+/, function(val) { return form_idx; });
			$(this).attr("name", name);
		});
		new_parent.find("select").each(function(){
			let this_name_split = $(this).attr("name").split("-");
			let this_name = this_name_split[2];
			let selector = "select[name=form-" + parent_index + "-" + this_name + "]";
			let cloned_row_val = $(selector).val();
			$(this).val(cloned_row_val);
		});
		new_parent.find(".transactionClone").click(cloneTransaction);
		new_parent.insertAfter(parent);

		total_form.val(parseInt(form_idx)+1);
    }

    var getChart = function(url, div_id){
    	if($(div_id).is(":empty")){
    		$.ajax({
				type: 'GET',
				url: url + queryParams,
			})
			.done(function(data){
				$(div_id).append(data.div);
				$("html").append(data.script);
			}).fail(function(data){
				console.error(data);
				messageBox("Error while getting '" + div_id + "' chart. Check console logs.", "warning");
			});
    	}
    }

	var getLineChart = function(){
		getChart("{% url 'line_chart' %}", "#line");
	}

	var getExpensesBarChart = function(){
		getChart("{% url 'expenses_bar' %}", "#expenses");
	}

	var getExpensesPieChart = function(){
		getChart("{% url 'expenses_pie' %}", "#pie");
	}

	var getCategoriesPieChart = function(){
		getChart("{% url 'categories_pie' %}", "#category-pie");
	}

	var emptyAllCharts = function(){
		$("#line").empty();
		$("#expenses").empty();
		$("#pie").empty();
		$("#category-pie").empty();
	}

    $(document).ready(function(){
        getTransactions();

		$("#searchSubmit").click(function(){
			queryParams = queryParams + "&search=" + document.getElementById("searchInput").value;
			getTransactions();
		});

        $(".transactionClone").click(cloneTransaction);

        $('#addTransactionModalEmpty').click(function () {
			let total_form = $('#id_form-TOTAL_FORMS');
			let form_idx = total_form.val();

			$('#addTransactionsTable')
			.append(
				$('#empty_form')
				.html()
				.replace(/__prefix__/g, form_idx)
				.replace("TR_ID", form_idx)
			);
			$("tr[id=" + form_idx + "]").find(".transactionClone").click(cloneTransaction);
			total_form.val(parseInt(form_idx)+1);
		});

		$("select#id_form-__prefix__-user").find("option[value={{ request.user.id }}]").attr("selected", "true");
    });
</script>
{% endblock %}

{% block extra_css %}
<link href=”http://cdn.pydata.org/bokeh/release/bokeh-2.4.3.min.css" rel=”stylesheet” type=”text/css”>
<link href=”http://cdn.pydata.org/bokeh/release/bokeh-widgets-2.4.3.min.css" rel=”stylesheet” type=”text/css”>
<style type="text/css">
div#addNewTransactionButton {
  position: fixed;
  bottom: 10px;
  right: 10px;
}
</style>
{% endblock %}

{% block contents %}
{% include "navbar.html" %}

<div class="tab-content" id="myTabContent">
	<div class="tab-pane fade active show" id="home" role="tabpanel" aria-labelledby="home-tab">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Time</th>
					<th>Name</th>
					<th>Amount</th>
					<th>Who</th>
					<th>Category</th>
					<th>Tags</th>
				</tr>
			</thead>
			<tbody id="operationsTable"></tbody>
		</table>
	</div>
	<div class="tab-pane fade" id="line" role="tabpanel" aria-labelledby="line-tab"></div>
	<div class="tab-pane fade" id="expenses" role="tabpanel" aria-labelledby="expenses-tab"></div>
	<div class="tab-pane fade" id="pie" role="tabpanel" aria-labelledby="pie"></div>
	<div class="tab-pane fade" id="category-pie" role="tabpanel" aria-labelledby="category-pie"></div>
</div>

<div id="addNewTransactionButton">
	<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addTransactionsModal">
	  <i class="fas fa-edit mr-1"></i>Add new transactions
	</button>
</div>

<table class="d-none">
	<tbody id="empty_form">
		<tr class="addTransactionsTableRow" id="TR_ID">
		{% for field in formset.empty_form %}
			<td>{% bootstrap_field field show_label=False %}</td>
		{% endfor %}
			<td>
				<button type="button" class="btn btn-secondary transactionClone">
					<i class="far fa-clone"></i>
				</button>
			</td>
		</tr>
	</tbody>
</table>


{% endblock %}

{% block modals %}
<div id="addTransactionsModal" class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-xl" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 id="itemModalTitle" class="modal-title">Add more transactions</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<form id="transactionModalFormset" method="POST">
				<div id="itemModalBody" class="modal-body">
					{% csrf_token %}
					{{ formset.management_form }}
					<table class="table">
						<thead>
							<tr>
								<th>Name</th>
								<th>Time</th>
								<th>Amount</th>
								<th>Category</th>
								<th>Who</th>
								<th>Tags</th>
								<th></th>
								<th>Clone</th>
							</tr>
						</thead>
						<tbody id="addTransactionsTable">
						{% for form in formset %}
						<tr class="addTransactionsTableRow" id="{{ forloop.counter0 }}">
							{% for field in form %}
								<td>{% bootstrap_field field show_label=False %}</td>
							{% endfor %}
							<td>
								<button type="button" class="btn btn-secondary transactionClone">
									<i class="far fa-clone"></i>
								</button>
							</td>
						</tr>
						{% endfor %}
						</tbody>
					</table>
					{% bootstrap_formset_errors formset %}
				</div>
				<div class="modal-footer">
					<div class="btn-group">
						<button id="addTransactionModalSave" type="submit" class="btn btn-success">
							<i class="fas fa-save"></i> Save
						</button>
						<button id="addTransactionModalEmpty" type="button" class="btn btn-primary">
							<i class="fas fa-plus"></i> Add empty
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<div id="editTransactionsModal" class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-sm" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Add more transactions</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<form id="transactionEditModalForm" method="POST">
				<div class="modal-body">
					{% bootstrap_form form layout=vertical %}
					{% bootstrap_form_errors form %}
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-success" onclick="putEditedTransaction()">
						<i class="fas fa-save"></i> Save
					</button>
					<button type="button" class="btn btn-primary" onclick="postNewTransaction()">
						<i class="bi bi-plus-circle"></i> Save as new
					</button>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}

{% block more_js %}
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.4.3.min.js"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.4.3.min.js"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.4.3.min.js"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-api-2.4.3.min.js"></script>
{% endblock %}