{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block extra_js %}
<script type="text/javascript">
    var getTransactions = function(){
        $.ajax({
            type: 'GET',
            url: "api/operations/",
        })
        .done(function(data){
            for (let li of data) {
                var tr = $("<tr>").append(
                    $("<td>").append(li.date)
                ).append(
                    $("<td>").append(li.title)
                ).append(
                    $("<td>").append(li.amount)
                ).append(
                    $("<td>").append(li.user.first_name)
                ).append(
                    $("<td>").append(li.category.name)
                )
                $("#operationsTable").append(tr);
            }
        }).fail(function(data){
            console.log(data);
            alert("Error");
        })
    }
    var cloneTransaction = function(){
    	let total_form = $('#id_form-TOTAL_FORMS');
		let form_idx = total_form.val();

		let parent = $(this).parent().parent();
		let new_parent = parent.clone();
		new_parent.attr('id', form_idx);
		new_parent.find("input, select").each(function(){
			let id_ = $(this).attr("id");
			id_ = id_.replace(/\d+/, function(val) { return form_idx; });
			$(this).attr("id", id_);
			let name = $(this).attr("name");
			name = name.replace(/\d+/, function(val) { return form_idx; });
			$(this).attr("name", name);
		});
		new_parent.find(".transactionClone").click(cloneTransaction);
		new_parent.insertAfter(parent);

		total_form.val(parseInt(form_idx)+1);
    }
    $(document).ready(function(){
        getTransactions();
        $(".transactionClone").click(cloneTransaction);
        $('#addTransactionModalEmpty').click(function () {
			let total_form = $('#id_form-TOTAL_FORMS');
			let form_idx = total_form.val();

			$('#addTransactionsTable')
			.append(
				$('#empty_form')
				.html()
				.replace(/__prefix__/g, form_idx)
				.replace("TR_ID", form_idx)
			);
			$("tr[id=" + form_idx + "]").find(".transactionClone").click(cloneTransaction);
			total_form.val(parseInt(form_idx)+1);
		});
		$("select#id_form-__prefix__-user").find("option[value={{ request.user.id }}]").attr("selected", "true");
    });
</script>
{% endblock %}

{% block contents %}
<table class="table">
    <thead>
        <tr>
            <th>Time</th>
            <th>Name</th>
            <th>Amount</th>
            <th>Who</th>
            <th>Category</th>
        </tr>
    </thead>
    <tbody id="operationsTable"></tbody>
</table>

<div id="addNewTransactionButton">
	<button type="button" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#addTransactionsModal">
	  <i class="fas fa-edit mr-1"></i>Add new transactions
	</button>
</div>
{% endblock %}

{% block modals %}
<div id="addTransactionsModal" class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-xl" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 id="itemModalTitle" class="modal-title">Add more transactions</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<form id="transactionModalFormset" method="POST">
				<div id="itemModalBody" class="modal-body">
					{% csrf_token %}
					{{ formset.management_form }}
					<table class="table">
						<thead>
							<tr>
								<th>Name</th>
								<th>Time</th>
								<th>Amount</th>
								<th>Category</th>
								<th>Who</th>
								<th></th>
								<th>Clone</th>
							</tr>
						</thead>
						<tbody id="addTransactionsTable">
						{% for form in formset %}
						<tr class="addTransactionsTableRow" id="{{ forloop.counter0 }}">
							{% for field in form %}
								<td>{% bootstrap_field field show_label=False %}</td>
							{% endfor %}
							<td>
								<button type="button" class="btn btn-secondary transactionClone">
									<i class="far fa-clone"></i>
								</button>
							</td>
						</tr>
						{% endfor %}
						</tbody>
					</table>
					{% bootstrap_formset_errors formset %}
				</div>
				<div class="modal-footer">
					<div class="btn-group">
						<button id="addTransactionModalSave" type="submit" class="btn btn-success">
							<i class="fas fa-save"></i> Save
						</button>
						<button id="addTransactionModalEmpty" type="button" class="btn btn-primary">
							<i class="fas fa-plus"></i> Add empty
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<table class="d-none">
	<tbody id="empty_form">
		<tr class="addTransactionsTableRow" id="TR_ID">
		{% for field in formset.empty_form %}
			<td>{% bootstrap_field field show_label=False %}</td>
		{% endfor %}
			<td>
				<button type="button" class="btn btn-secondary transactionClone">
					<i class="far fa-clone"></i>
				</button>
			</td>
		</tr>
	</tbody>
</table>

{% endblock %}