<ul class="nav nav-tabs" id="myTab" role="tablist">
	<li class="nav-item" role="presentation">
		<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Years</a>
		<ul class="dropdown-menu">
			{% for each_year in all_years %}
				<li>
					<a class="dropdown-item" href="/?year={{ each_year }}">
						{{ each_year }}
					</a>
				</li>
			{% endfor %}
		</ul>
	</li>
	<li class="nav-item dropdown">
		<button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Operations</button>
	</li>
	<li class="nav-item dropdown">
		<button class="nav-link" id="line-tab" data-bs-toggle="tab" data-bs-target="#line" type="button" role="tab" aria-controls="home" aria-selected="false">Line</button>
	</li>
	<li class="nav-item dropdown">
		<button class="nav-link" id="expenses-tab" data-bs-toggle="tab" data-bs-target="#expenses" type="button" role="tab" aria-controls="home" aria-selected="false">Expenses</button>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="#">Link</a>
	</li>
</ul>