<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">

<ul class="nav nav-tabs" id="myTab" role="tablist">
	<li class="nav-item" role="presentation">
		<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Years</a>
		<ul class="dropdown-menu">
			{% for each_year in all_years %}
				<li>
					<a class="dropdown-item" href="/?year={{ each_year }}">
						{{ each_year }}
					</a>
				</li>
			{% endfor %}
		</ul>
	</li>
	<li class="nav-item dropdown">
		<button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Operations</button>
	</li>
	<li class="nav-item dropdown">
		<button class="nav-link" id="line-tab" data-bs-toggle="tab" data-bs-target="#line" type="button" role="tab" aria-controls="line" aria-selected="false" onclick="getLineChart();">Line</button>
	</li>
	<li class="nav-item dropdown">
		<button class="nav-link" id="expenses-tab" data-bs-toggle="tab" data-bs-target="#expenses" type="button" role="tab" aria-controls="expenses" aria-selected="false" onclick="getExpensesBarChart();">Expenses</button>
	</li>
	<li class="nav-item dropdown">
		<button class="nav-link" id="pie-tab" data-bs-toggle="tab" data-bs-target="#pie" type="button" role="tab" aria-controls="pie" aria-selected="false" onclick="getExpensesPieChart();">Pie Chart</button>
	</li>
	<li class="nav-item dropdown">
		<button class="nav-link" id="category-pie-tab" data-bs-toggle="tab" data-bs-target="#category-pie" type="button" role="tab" aria-controls="category-pie" aria-selected="false" onclick="getCategoriesPieChart();">Categories pie chart</button>
	</li>
</ul>
<form id="textSearchForm" class="d-flex">
  <input id="searchInput" class="form-control me-2" type="search" placeholder="Search title, user or category" aria-label="Search">
  <button id="searchSubmit" class="btn btn-outline-primary" type="button"><i class="bi bi-search"></i></button>
</form>

  </div></nav>